<html>
  <head>
    <meta charset="utf-8" />
    <title>Keyboard MX Switch Force Calculator</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  </head>
  <body>
    <div class="container">
      <section class="section">
        <h1 class="title is-3">Keyboard Switch Force Calculator (MX Linear)</h1>
        <div id="app">

          <div class="columns">
            <div class="column">
              <label class="label">Switches</label>
              <div class="control">
                <div class="select">
                  <select v-model="kswitch" v-on:change="updatePar">
                    <option v-for="option in switches" v-bind:value="option.name">
                      {{ option.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="column">
              <label class="label">Press force</label>
              <div class="field has-addons">
                <p class="control">
                  <input class="input" type="number" v-model="pforce" >
                </p>
                <p class="control">
                  <a class="button is-static">
                    cN
                  </a>
                </p>
              </div>
            </div>

            <div class="column">
              <label class="label">Keycap weight</label>
              <div class="field has-addons">
                <p class="control">
                  <input class="input" type="number" v-model="keycap" >
                </p>
                <p class="control">
                  <a class="button is-static">
                    g
                  </a>
                </p>
              </div>
            </div>

            <div class="column">
            </div>
            <div class="column">
            </div>
            <div class="column">
            </div>
          </div>

          <div class="columns">

            <div class="column">
              <label class="label">Bottom-out force</label>
              <div class="field has-addons">
                <p class="control">
                  <input class="input" type="number" v-model="sforce" >
                </p>
                <p class="control">
                  <a class="button is-static">
                    cN
                  </a>
                </p>
              </div>
            </div>

            <div class="column">
              <label class="label">Free length of spring</label>
              <div class="field has-addons">
                <p class="control">
                  <input class="input" type="number" v-model="slength" >
                </p>
                <p class="control">
                  <a class="button is-static">
                    mm
                  </a>
                </p>
              </div>
            </div>

            <div class="column">
              <label class="label">Reset posision</label>
              <div class="field has-addons">
                <p class="control">
                  <input class="input" type="number" v-model="sreset" >
                </p>
                <p class="control">
                  <a class="button is-static">
                    mm
                  </a>
                </p>
              </div>
            </div>

            <div class="column">
              <label class="label">Friction 1</label>
              <div class="field has-addons">
                <p class="control">
                  <input class="input" type="number" v-model="friction1" title="Friction between stem and housing">
                </p>
                <p class="control">
                  <a class="button is-static">
                    cN
                  </a>
                </p>
              </div>
            </div>

            <div class="column">
              <label class="label">Friction 2</label>
              <div class="field has-addons">
                <p class="control">
                  <input class="input" type="number" v-model="friction2" title="Friction between stem and contact at reset position">
                </p>
                <p class="control">
                  <a class="button is-static">
                    cN
                  </a>
                </p>
              </div>
            </div>

            <div class="column">
              <label class="label">Friction 3</label>
              <div class="field has-addons">
                <p class="control">
                  <input class="input" type="number" v-model="friction3" title="Friction between stem and contact at the end of release travel">
                </p>
                <p class="control">
                  <a class="button is-static">
                    cN
                  </a>
                </p>
              </div>
            </div>
          </div>

          <div class="control">
            <button id="renderBtn" v-on:click="render" class="button is-dark">Render</button>
            <label class="checkbox">
              <input type="checkbox" v-model="bupdate">
              Update curves in memory
            </label>
          </div>
        </div>

        <div class="field">
          <canvas id="schart" style="position: relative; height:40vh; width:20vw"></canvas>
        </div>
        <div class="field">
          <canvas id="mchart" style="position: relative; height:40vh; width:20vw"></canvas>
        </div>
      </section>
      <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Keyboard Switch Force Calculator</strong> by <a href="https://github.com/eswai/">eswai</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
          </p>
        </div>
      </footer>
    </div>
  </body>

  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        pforce: 200.0,
        keycap: 1.5,
        slength: 15.0,
        sforce: 55.0,
        sreset: 1.5,
        friction1: 0.2,
        friction2: 9.0,
        friction3: 15.0,
        bupdate: true,
        fdata: {},
        fchart: "",
        mdata: {},
        mchart: "",
        ca: 0,
        cbp: 0,
        car2: 0,
        cbr1: 0,
        cbr2: 0,
        travel: 4, // switch travel in mm
        blength: 11, // spring lenghn in housing in mm
        kswitch: 'Cherry MX Red',
        switches: {
          'Cherry MX Red':   { name: 'Cherry MX Red',   sforce: 55,  slength: 15,   sreset: 1.5, friction1: 0.2, friction2: 9,  friction3: 15},
          'Cherry MX Black': { name: 'Cherry MX Black', sforce: 75,  slength: 15,   sreset: 2.1, friction1: 0.2, friction2: 6,  friction3: 13},
          'Cherry MX Grey':  { name: 'Cherry MX Grey',  sforce: 110, slength: 15,   sreset: 2,   friction1: 0.2, friction2: 7,  friction3: 12},
          'Kaihua Silver':   { name: 'Kaihua Silver',   sforce: 53,  slength: 13,   sreset: 1.3, friction1: 0.2, friction2: 15, friction3: 17},
          'Kaihua Red':      { name: 'Kaihua Red',      sforce: 65,  slength: 15.5, sreset: 2.1, friction1: 0.2, friction2: 14, friction3: 23},
          'Kaihua Box Red':  { name: 'Kaihua Box Red',  sforce: 55,  slength: 14,   sreset: 2.1, friction1: 0.2, friction2: 5,  friction3: 6},
          'Gateron Red':     { name: 'Gateron Red',     sforce: 55,  slength: 16,   sreset: 2.4, friction1: 0.2, friction2: 14, friction3: 17},
          'Gateron Clear':   { name: 'Gateron Clear',   sforce: 40,  slength: 15,   sreset: 1.7, friction1: 0.2, friction2: 10, friction3: 13}
        }
      },

      created: function() {
        var ctx = document.getElementById('schart').getContext('2d')

        this.fdata = {
          type: 'line',
          data: {
            labels: [],
            datasets: [
              {
                label: 'Press',
                data: [],
                fill: false,
                borderWidth: 2,
                pointRadius: 0,
                borderColor: 'rgba(255, 0, 0, 0.8)',
                lineTension: 0
              },
              {
                label: 'Release',
                data: [],
                fill: false,
                borderWidth: 2,
                pointRadius: 0,
                borderColor: 'rgba(0, 0, 0, 0.8)',
                lineTension: 0
              },
              {
                label: 'Press in memory',
                data: [],
                fill: false,
                borderWidth: 2,
                pointRadius: 0,
                borderColor: 'rgba(255, 0, 0, 0.3)',
                lineTension: 0
              },
              {
                label: 'Release in memory',
                data: [],
                fill: false,
                borderWidth: 2,
                pointRadius: 0,
                borderColor: 'rgba(0, 0, 0, 0.3)',
                lineTension: 0
              }
            ]
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
              xAxes: [{
                scaleLabel: {
                  display: true,
                  labelString: 'Travel [mm]'
                }
              }],
              yAxes: [{
                scaleLabel: {
                  display: true,
                  labelString: 'Force (cN)'
                },
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }
        }
        this.fchart = new Chart(ctx, this.fdata)

        var ctx2 = document.getElementById('mchart').getContext('2d')

        this.mdata = {
          type: 'line',
          data: {
            labels: [],
            datasets: [
              {
                label: 'Motion',
                data: [],
                fill: false,
                borderWidth: 2,
                pointRadius: 0,
                borderColor: 'rgba(255, 0, 0, 0.8)',
                lineTension: 0
              },
              {
                label: 'Motion in memory',
                data: [],
                fill: false,
                borderWidth: 2,
                pointRadius: 0,
                borderColor: 'rgba(255, 0, 0, 0.3)',
                lineTension: 0
              }
            ]
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
              xAxes: [{
                scaleLabel: {
                  display: true,
                  labelString: 'Time [sec]'
                }
              }],
              yAxes: [{
                scaleLabel: {
                  display: true,
                  labelString: 'Travel (mm)'
                },
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }
        }
        this.mchart = new Chart(ctx2, this.mdata)
      },

      methods: {
        forcePress: function(x) {
          return this.ca * x + this.cbp
        },

        forceRelease1: function(x) {
          return this.ca * x + this.cbr1
        },

        forceRelease2: function(x) {
          return this.car2 * x + this.cbr2
        },

        cutSpring: function() {
        },

        updatePar: function() {
          var s = this.switches[this.kswitch]
          console.log(s.name)
          this.sforce = s.sforce
          this.slength = s.slength
          this.sreset = s.sreset
          this.friction1 = s.friction1
          this.friction2 = s.friction2
          this.friction3 = s.friction3
        },

        fx: function(v, x) {
          return v
        },

        fv1: function(v, x) { // N, mm, sec, kg
          return (this.pforce / 100 - this.forcePress(x) / 100 - 0.0 * v) / parseFloat(this.keycap) * 1000
        },

        fv2: function(v, x) {
          return (- this.forceRelease1(x) / 100 - 0.0 * v) / parseFloat(this.keycap) * 1000
        },

        fv3: function(v, x) {
          return (- this.forceRelease2(x) / 100 - 0.0 * v) / parseFloat(this.keycap) * 1000
        },

        createMotion: function() {
          var xdata = []
          var labels = []
          var dt = 0.001
          var x = 0.0
          var v = 0.0
          var tt
          var nx = 0.0
          var nv = 0.0
          for (var t = 0.0; t < 1.01; t += dt) {
            tt = t
            nv = v + dt * this.fv1(v, x)
            nx = x + dt * this.fx(v, x)
            xdata.push(nx)
            labels.push(t.toFixed(2))
            v = nv
            x = nx
            if (nx > 4) break;
          }
          v = 0
          for (var t = tt; t < 1.01; t += dt) {
            tt = t
            nv = v + dt * this.fv2(v, x)
            nx = x + dt * this.fx(v, x)
            xdata.push(nx)
            labels.push(t.toFixed(2))
            v = nv
            x = nx
            if (nx < this.sreset) break;
          }
          for (var t = tt; t < 1.01; t += dt) {
            tt = t
            nv = v + dt * this.fv3(v, x)
            nx = x + dt * this.fx(v, x)
            xdata.push(nx)
            labels.push(t.toFixed(2))
            v = nv
            x = nx
            if (nx < 0) break;
          }

          return {data: xdata, labels: labels}
        },

        createForceData: function() {
          var pdata = []
          var rdata = []
          var labels = []

          this.ca = parseFloat(this.sforce) / (parseFloat(this.slength) - (this.blength - this.travel))
          this.cbp = parseFloat(this.sforce) - this.ca * this.travel + parseFloat(this.friction1)

          this.car2 = parseFloat(this.sforce) / (parseFloat(this.slength) - (this.blength - this.travel)) - (parseFloat(this.friction2) - parseFloat(this.friction3)) / this.sreset
          this.cbr1 = parseFloat(this.sforce) - this.ca * this.travel - parseFloat(this.friction1)
          this.cbr2 = parseFloat(this.sforce) - this.ca * this.travel - parseFloat(this.friction3)

          for (var i = 0.0; i <= this.travel; i+=0.1) {
            var x = i.toFixed(1)
            pdata.push(this.forcePress(x))
            labels.push(x)
          }
          for (var i = 0.0; i <= this.travel; i+=0.1) {
            var x = i.toFixed(1)
            if (x < this.sreset) {
              rdata.push(this.forceRelease2(x))
            } else {
              rdata.push(this.forceRelease1(x))
            }
          }
          return {press: pdata, release: rdata, labels: labels}
        },

        render: function() {
          var scurve = this.createForceData()
          if (this.bupdate || this.fdata.data.datasets[2].data.length == 0) {
            this.fdata.data.datasets[2].data = this.fdata.data.datasets[0].data
            this.fdata.data.datasets[3].data = this.fdata.data.datasets[1].data
          }
          this.fdata.data.datasets[0].data = scurve.press
          this.fdata.data.datasets[1].data = scurve.release
          this.fdata.data.labels = scurve.labels

          this.fchart.update()

          var mcurve = this.createMotion()
          if (this.bupdate || this.mdata.data.datasets[1].data.length == 0) {
            this.mdata.data.datasets[1].data = this.mdata.data.datasets[0].data
          }
          this.mdata.data.datasets[0].data = mcurve.data
          this.mdata.data.labels = mcurve.labels

          this.mchart.update()
        }
      }
    })
  </script>
</html>
